body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #833599;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact-form {
  background-color: rgb(248, 208, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: left;
  margin-bottom: 10px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #215b98;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}
